//META{"author":"lloti","name":"Beautiful Categories","description":"Adds lines to the left and right of categories by github.com/lloti","version":"1.0"}*//

.channels-wrap div[class*=wrapper] > div[class*=name] {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff;
  opacity: 0.3;
  transition: .2s opacity ease-in-out;
}
.channels-wrap div[class*=wrapper] > div[class*=name]:hover {
  opacity: 0.8;
}
.channels-wrap div[class*=wrapper] > div[class*=name]:before, .channels-wrap div[class*=wrapper] > div[class*=name]:after {
  content: "";
  width: 100%;
  vertical-align: middle;
  height: 1px;
  background: #eee;
  display: inline-block;
  margin: 0 5px;
}

div[class^=container-] div[class*=container]:first-child {
  padding: 5px;
}
div[class^=container-] div[class*=container]:first-child > div > svg[class*=icon]:first-child {
  display: none;
}