//META{"author":"lloti","name":"Beautiful Categories","description":"Adds lines to the left and right of categories by github.com/lloti","version":"1.0"}*//

div[class*=wrapperDefault-] > div[class*=nameCollapsed-],
div[class*=wrapperDefault-] > div[class*=nameDefault-],
div[class*=wrapperDefault-] > div[class*=nameHovered-],
div[class*=wrapperDefault-] > div[class*=nameHoveredCollapsed-],
div[class*=wrapperDefault-] > div[class*=nameMuted-],
div[class*=wrapperDefault-] > div[class*=nameUnread-],
div[class*=wrapperCollapsed-] > div[class*=nameCollapsed-],
div[class*=wrapperCollapsed-] > div[class*=nameDefault-],
div[class*=wrapperCollapsed-] > div[class*=nameHovered-],
div[class*=wrapperCollapsed-] > div[class*=nameHoveredCollapsed-],
div[class*=wrapperCollapsed-] > div[class*=nameMuted-],
div[class*=wrapperCollapsed-] > div[class*=nameUnread-],
div[class*=wrapperHovered-] > div[class*=nameCollapsed-],
div[class*=wrapperHovered-] > div[class*=nameDefault-],
div[class*=wrapperHovered-] > div[class*=nameHovered-],
div[class*=wrapperHovered-] > div[class*=nameHoveredCollapsed-],
div[class*=wrapperHovered-] > div[class*=nameMuted-],
div[class*=wrapperHovered-] > div[class*=nameUnread-],
div[class*=wrapperHoveredCollapsed-] > div[class*=nameCollapsed-],
div[class*=wrapperHoveredCollapsed-] > div[class*=nameDefault-],
div[class*=wrapperHoveredCollapsed-] > div[class*=nameHovered-],
div[class*=wrapperHoveredCollapsed-] > div[class*=nameHoveredCollapsed-],
div[class*=wrapperHoveredCollapsed-] > div[class*=nameMuted-],
div[class*=wrapperHoveredCollapsed-] > div[class*=nameUnread-] {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: #fff;
  opacity: 0.3;
  transition: .2s opacity ease-in-out;
}

div[class*=wrapperDefault-] > div[class*=nameCollapsed-]:hover,
div[class*=wrapperDefault-] > div[class*=nameDefault-]:hover,
div[class*=wrapperDefault-] > div[class*=nameHovered-]:hover,
div[class*=wrapperDefault-] > div[class*=nameHoveredCollapsed-]:hover,
div[class*=wrapperDefault-] > div[class*=nameMuted-]:hover,
div[class*=wrapperDefault-] > div[class*=nameUnread-]:hover,
div[class*=wrapperCollapsed-] > div[class*=nameCollapsed-]:hover,
div[class*=wrapperCollapsed-] > div[class*=nameDefault-]:hover,
div[class*=wrapperCollapsed-] > div[class*=nameHovered-]:hover,
div[class*=wrapperCollapsed-] > div[class*=nameHoveredCollapsed-]:hover,
div[class*=wrapperCollapsed-] > div[class*=nameMuted-]:hover,
div[class*=wrapperCollapsed-] > div[class*=nameUnread-]:hover,
div[class*=wrapperHovered-] > div[class*=nameCollapsed-]:hover,
div[class*=wrapperHovered-] > div[class*=nameDefault-]:hover,
div[class*=wrapperHovered-] > div[class*=nameHovered-]:hover,
div[class*=wrapperHovered-] > div[class*=nameHoveredCollapsed-]:hover,
div[class*=wrapperHovered-] > div[class*=nameMuted-]:hover,
div[class*=wrapperHovered-] > div[class*=nameUnread-]:hover,
div[class*=wrapperHoveredCollapsed-] > div[class*=nameCollapsed-]:hover,
div[class*=wrapperHoveredCollapsed-] > div[class*=nameDefault-]:hover,
div[class*=wrapperHoveredCollapsed-] > div[class*=nameHovered-]:hover,
div[class*=wrapperHoveredCollapsed-] > div[class*=nameHoveredCollapsed-]:hover,
div[class*=wrapperHoveredCollapsed-] > div[class*=nameMuted-]:hover,
div[class*=wrapperHoveredCollapsed-] > div[class*=nameUnread-]:hover {
  opacity: 0.8;
}

div[class*=wrapperDefault-] > div[class*=nameCollapsed-]:before,
div[class*=wrapperDefault-] > div[class*=nameCollapsed-]:after,
div[class*=wrapperDefault-] > div[class*=nameDefault-]:before,
div[class*=wrapperDefault-] > div[class*=nameDefault-]:after,
div[class*=wrapperDefault-] > div[class*=nameHovered-]:before,
div[class*=wrapperDefault-] > div[class*=nameHovered-]:after,
div[class*=wrapperDefault-] > div[class*=nameHoveredCollapsed-]:before,
div[class*=wrapperDefault-] > div[class*=nameHoveredCollapsed-]:after,
div[class*=wrapperDefault-] > div[class*=nameMuted-]:before,
div[class*=wrapperDefault-] > div[class*=nameMuted-]:after,
div[class*=wrapperDefault-] > div[class*=nameUnread-]:before,
div[class*=wrapperDefault-] > div[class*=nameUnread-]:after,
div[class*=wrapperCollapsed-] > div[class*=nameCollapsed-]:before,
div[class*=wrapperCollapsed-] > div[class*=nameCollapsed-]:after,
div[class*=wrapperCollapsed-] > div[class*=nameDefault-]:before,
div[class*=wrapperCollapsed-] > div[class*=nameDefault-]:after,
div[class*=wrapperCollapsed-] > div[class*=nameHovered-]:before,
div[class*=wrapperCollapsed-] > div[class*=nameHovered-]:after,
div[class*=wrapperCollapsed-] > div[class*=nameHoveredCollapsed-]:before,
div[class*=wrapperCollapsed-] > div[class*=nameHoveredCollapsed-]:after,
div[class*=wrapperCollapsed-] > div[class*=nameMuted-]:before,
div[class*=wrapperCollapsed-] > div[class*=nameMuted-]:after,
div[class*=wrapperCollapsed-] > div[class*=nameUnread-]:before,
div[class*=wrapperCollapsed-] > div[class*=nameUnread-]:after,
div[class*=wrapperHovered-] > div[class*=nameCollapsed-]:before,
div[class*=wrapperHovered-] > div[class*=nameCollapsed-]:after,
div[class*=wrapperHovered-] > div[class*=nameDefault-]:before,
div[class*=wrapperHovered-] > div[class*=nameDefault-]:after,
div[class*=wrapperHovered-] > div[class*=nameHovered-]:before,
div[class*=wrapperHovered-] > div[class*=nameHovered-]:after,
div[class*=wrapperHovered-] > div[class*=nameHoveredCollapsed-]:before,
div[class*=wrapperHovered-] > div[class*=nameHoveredCollapsed-]:after,
div[class*=wrapperHovered-] > div[class*=nameMuted-]:before,
div[class*=wrapperHovered-] > div[class*=nameMuted-]:after,
div[class*=wrapperHovered-] > div[class*=nameUnread-]:before,
div[class*=wrapperHovered-] > div[class*=nameUnread-]:after,
div[class*=wrapperHoveredCollapsed-] > div[class*=nameCollapsed-]:before,
div[class*=wrapperHoveredCollapsed-] > div[class*=nameCollapsed-]:after,
div[class*=wrapperHoveredCollapsed-] > div[class*=nameDefault-]:before,
div[class*=wrapperHoveredCollapsed-] > div[class*=nameDefault-]:after,
div[class*=wrapperHoveredCollapsed-] > div[class*=nameHovered-]:before,
div[class*=wrapperHoveredCollapsed-] > div[class*=nameHovered-]:after,
div[class*=wrapperHoveredCollapsed-] > div[class*=nameHoveredCollapsed-]:before,
div[class*=wrapperHoveredCollapsed-] > div[class*=nameHoveredCollapsed-]:after,
div[class*=wrapperHoveredCollapsed-] > div[class*=nameMuted-]:before,
div[class*=wrapperHoveredCollapsed-] > div[class*=nameMuted-]:after,
div[class*=wrapperHoveredCollapsed-] > div[class*=nameUnread-]:before,
div[class*=wrapperHoveredCollapsed-] > div[class*=nameUnread-]:after {
  content: "";
  width: 100%;
  vertical-align: middle;
  height: 1px;
  background: #eee;
  display: inline-block;
  margin: 0 5px;
}

div[class*=container-] > div[class*=containerDefault-]:first-child,
div[class*=container-] > div[class*=containerDragAfter-]:first-child {
  padding: 5px;
}